.TopicsExplorer-panel-div {
    margin-bottom: 3px;
}

.TopicsExplorer-panel-title {
    font-family: 'Arvo', Georgia, Times, serif;
    font-weight: 600
}

.TopicsExplorer-panel-body {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;

}