html, body {
    background-color: #1F1E27;
    /* background-image: url("./background.jpg");
    background-size: 100%; */
  }



/* .container {
    background-image: url("./background.jpg");
    background-size: 100%;
} */
