.Home-jumbotron {
    background-color: #434344;
    color: #61E6ED
  }

.jumbo-maintext {
	font-family: 'Arvo', Georgia, Times, serif;
	font-size: 47px;
    line-height: 70px;
}

.jumbo-subtext, .Home-panel-subtext {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

.jumbo-subtext {
    color: #d3d3d3
}

.Home-panel {
    /* border: solid 5px #351268; */
    border-radius: 20px;
    background-color: #d3d3d3;

}

.Home-panel-body {
    padding-left: 20px;
}

.Home-panel-header {
    font-family: 'Arvo', Georgia, Times, serif;
    color: #351268;
}

.Home-panel-subtext {
    line-height: 1.5;
    word-spacing: 2px;
}

.Home-panel-button {
    background-color: #434344;
    color: #61E6ED;
    font-size: 20px;
}