/* 
#351268
#6d36a3
*/

.Home-jumbotron {
    background-color: #434344;
    color: #61E6ED;
    margin-bottom: 0px;
  }

.jumbo-maintext {
	font-family: 'Arvo', Georgia, Times, serif;
	font-size: 47px;
    line-height: 70px;
}

.jumbo-subtext, .Home-panel-subtext {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

.jumbo-subtext {
    color: #d3d3d3
}

.Home-line {
    width: 140px;
    height: 3px !important;
    background-color: #61E6ED;
    margin-bottom: 50px;
    margin-left: calc(50% - 70px)
}

.Home-bottom-row {
    background: #d3d3d3;
}

.Home-panel {
    margin-top: 50px;
    margin-right: 30px;
    margin-bottom: 200px;
    border: none;
    border-left: solid 3px #473A55;
    background-color: #d3d3d3;
    border-radius: 0;
    box-shadow: none;
}

.Home-panel-body {
    padding: 0px;
    padding-left: 20px;
    border: none;
}

.Home-panel-header {
    margin: 0px;
    font-family: 'Arvo', Georgia, Times, serif;
    color: #473A55;
}

.Home-panel-subtext {
    line-height: 1.5;
    word-spacing: 2px;
}

.Home-panel-button {
    background-color: #473A55;
    /* border: 2px solid #351268; */
    color: #d3d3d3;
    font-size: 20px;
    font-weight: 700;
}