.SuggestionTab-div {
    margin: 15px;
    margin-bottom: 100px;
}

.SuggestionsTab-panel-div {
    margin-bottom: 3px;
}

.SuggestionTab-panel {
    border: none;
    border-radius: 10px !important;
    background: #434344;
}

.SuggestionTab-panel-heading {
    background-color: #473A55 !important;
    border: solid 3px #d3d3d3 !important;
    border-radius: 10px;
}

.SuggestionTab-panel-title {
    font-family: 'Arvo', Georgia, Times, serif;
    font-weight: 600;
    font-size: 20px;
    color: #d3d3d3;
}

.SuggestionTab-intro {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    color: #d3d3d3;
}

.SuggestionTab-panel-body {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #d3d3d3;
    border-radius: 10px;
}

.SuggestionTab-panel-body>div>div.well {
    background: #473a554d !important;
    border-radius: 10px;
}