.CheckUp-diagram-div {
    min-height: 400px;
}

.CheckUp-suggestions-col {
    min-height: 500px;
}

.CheckUp-showsuggestions-button {
    font-size: 20px;
    margin-bottom: 30px;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    background: #d3d3d3;
    border: 2px solid #61E6ED;
}