.CheckUp-toprow {
    padding-top: 70px;
    padding-right: 70px;
}


.CheckUp-diagram-div {
    min-height: 400px;
}

.CheckUp-suggestions-col {
    min-height: 500px;
}

.CheckUp-showsuggestions-button {
    font-size: 20px;
    margin-bottom: 30px;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    background: #434344;
    border: 3px solid #61E6ED;
    color: #61E6ED;
    font-weight: 700;
}