/* 
61E6ED
#473A55 
*/

.TopicsDiagram-buttonrow {
    min-height: 195px;
}

.TopicsDiagram-center, .TopicsDiagram-center:hover, .TopicsDiagram-center:focus {
    font-family: 'Arvo', Georgia, Times, serif;
    font-weight: 600;
    font-size: 21px;
    margin-top: -50px;
    margin-bottom: -30px;
    height: 150px;
    border-radius: 130px;
    background: #434344;
    border: solid 3px #61E6ED;
    /* border: none; */
    color: #61E6ED;
    outline: none !important;
}

.TopicsDiagram-button {
    font-family: 'Arvo', Georgia, Times, serif;
    font-weight: 600;
    font-size: 18px;
    width: 175px;
    height: 175px;
    border-radius: 95px;
    background: #434344;
    border: solid 3px #d3d3d3;
    color: #d3d3d3;
    outline: none !important;
    transition: ease-in-out .35s ;
}

.TopicsDiagram-button:hover {
    background: #61E6ED;
    border: solid 3px #d3d3d3;
    color: #434344;
}

.TopicsDiagram-button-selected, .TopicsDiagram-button-selected:focus {
    font-family: 'Arvo', Georgia, Times, serif;
    border-radius: 95px;
    outline: 0;
    font-size: 21px;
    width: 195px;
    height: 195px;
    font-weight: 700;
    color: #d3d3d3;
    background: #473A55;
    border: 3px solid #d3d3d3;
    transition: ease-in-out .35s ;
}
