.MainNavBar .container {
    border-style: none;
    background-color: #1F1E27;
}

.MainNavBar {
    border-style: none;
    margin-bottom: 0px;
}

.MainNavBar-header-brand {
    font-family: 'Varela Round', sans-serif;
    font-size: 25px;
}

.MainNavBar-navbar-nav {
    font-family: 'Noto Serif', serif;
    font-size: 20px;
}

.MainNavBar-navbar-nav a {
    color: #F4F4F3 !important;
}
