.MainNavBar .container {
    border-style: none;
    padding-bottom: 20px;
}

.MainNavBar {
    border-style: none;
}

.MainNavBar-header-brand {
    font-family: 'Arvo', Georgia, Times, serif;
    font-size: 25px;
}

.MainNavBar-navbar-nav {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 20px;
}
